name: Metrics
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: jamshedali18
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Karachi
          plugin_lines: yes
          plugin_lines_sections: base
          plugin_languages: yes
          plugin_languages_colors: "0:00C853,1:00E676,2:4CAF50,3:66BB6A,4:81C784"
          plugin_languages_threshold: 0%
